<!-- ================= FOOTER ================= -->
<footer>
  <div class="max-w-6xl mx-auto my-2 py-2 px-4 text-center text-gray-600">
    <p class="text-sm max-md:text-xs">
      Made by
      <a
        href="https://github.com/nickonyi"
        target="_blank"
        class="text-rose-600 hover:underline"
        rel="noopener noreferrer"
        >@Nick_onyi</a
      >
      using Express, passportJS, handlebars and Neon PostgreSQL to practice
      Attribute/Role based Access Control |
      <a
        href="https://github.com/nickonyi/Members-only.git"
        class="text-rose-600 hover:underline"
      >
        GitHub Repo
      </a>
    </p>
  </div>
</footer>
