<nav
  class="sticky top-0 flex justify-between items-center px-8 shadow-md z-50 bg-white h-12"
>
  <!-- Logo -->
  <h1 class="text-xl font-semibold">
    <a href="/">Circle Access</a>
  </h1>
  <ul class="flex gap-8">
    <li><a href="/">Home</a></li>
    <li><a href="/circles">Circle</a></li>
    <li><a href="/posts">Posts</a></li>
  </ul>

  <!---Right side-->
  <div class="flex items-center gap-2">
    <% if(user){%>
      <div class="relative" id="user-menu-wrapper" >
        <button id="user-menu-btn"  class="flex items-center gap-1 py-1 px-2 rounded-md hover:bg-neutral-100 transition cursor-pointer">
            <div class="flex flex-col text-right">
                <span class="text-sm leading-tight font-medium"><%= user.username %></span>
                <span class="text-xs leading-tight text-gray-500">User</span>
            </div>

            <img class="w-8 h-8 rounded-full object-cover border"
                 src="/images/profile.png"
                 alt="profile">
        </button>

        <div id="user-dropdown" class="absolute right-0 mt-2 bg-white shadow-lg rounded-md py-1.5 hidden w-32">
            <form action="/auth/logout"
                  method="POST"
                  class="">
               <button type="submit"
                       name="logoutBtn"
                       class="w-full h-full justify-center cursor-pointer gap-1 text-sm py-1 px-2 hover:bg-neutral-100 transition flex items-center">
                      <%- include("../partials/icons/logout") %>
                       Logout
               </button>
            </form>
        </div>
      </div>
      <%} else { %>
        <div>
           <a href="/auth/login" class="flex items-center gap-2">
              <%- include("../partials/icons/login") %>
             Login
           </a>
       </div>
      <%}%>

  </div>
  
</nav>
