<nav class="bg-red-500">
  <div class="logo">Circle Access</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">Circle</a></li>
    <li><a href="/contact">Posts</a></li>
  </ul>
  <div>
    <button>Login</button>
  </div>
</nav>
