<div class="mt-8 flex justify-center items-center">
  <div
    class="border flex rounded divide-x overflow-hidden border-neutral-300 shadow divide-neutral-300"
  >
<!--Prev Button-->
<% if (pagination.hasPrev) { %>
  <a href="<%= pagination.prevUrl %>" class="px-4 py-2 hover:bg-gray-100">Previous</a>
<% } %>
</div>
</div>
